@import "reboot.css";

html {overflow-y: scroll;}

body{
	display: grid;
	grid-template-columns:
		minmax(8px, 1fr)
		minmax(auto, 1024px)
		minmax(8px, 1fr);
	grid-template-rows: auto 1fr auto;
	color:rgba(0,0,0,.8);
	height:100vh; 
	margin: 0;
}

body::before, body::after{
	content:"";
	grid-column: 1/-1;
	background: #343b45;
}

.header, .main, .footer{
	grid-column: 2;
	
}

.header,body::before{
	grid-row: 1;
}

.footer, body::after{
	grid-row: 3;
}

.main{
	font-size: calc(1rem + .5vw);
	padding: 1em 0;
}

.footer{
	z-index: 999;
}

.with-side-bar{
	display:flex;
	flex-wrap: wrap;
	/*grid-template-columns: repeat(auto-fit, minmax(68ch, 1fr) 1fr);*/
}

.with-side-bar .content{
	flex-basis:62ch;
	padding-right: 1em;
}

.with-side-bar .sidebar{
	flex:1;
	min-width: 250px
}	

/*======HEADER=====*/

.header{
	display: flex;
	flex-wrap: wrap;
}

.header, .footer{
	background: #343b45;
	color: rgba(255,255,255,.9);
	padding: 1em 0;
}

.title, .tagline{
	 font-family: 'Special Elite', cursive;
	 margin: 0;
	 line-height: 1;
}

.title{
	font-size: 3.8rem;
	font-size: calc(3.8rem + .8vw);
	font-weight: normal;
}

.tagline{
	font-size: 1.2rem;
	font-size: calc(1.2rem + .8vw);
}

/* interesting effect
.page-about .title,
.page-about .tagline{
	filter: drop-shadow(16px 16px 20px #601822) drop-shadow(-16px -16px 20px #601822);
	}
*/ 

.hgroup{
	padding-right: 2em;
	margin: 0 auto .5em 0;
}

.project{
	margin-bottom: 1em;
}


/*=====NAVIGATION=====*/

.mainnav{
	/* margin-left: auto; */
	display:flex;
}

.mainnav a{
	color:inherit;
	font-size: 1.1em;
	font-size: calc(1.1rem + .2vw);
	padding: 0 1em;
}
.mainnav a:hover{
	color:orange;
	text-decoration: none;
}
.mainnav :nth-child(1){
	padding-left: 0;
}

.mainnav .active a{
	color:#fff;
	text-decoration: none;
	cursor: default;
}

/*=====IMAGES=====*/

img{
	max-width: 100%;
	display: block;
}

.fl, .fr{
	 margin:0 auto 1rem; 
}

@media screen and (min-width: 40rem){
	
	.fl{
		float:left;
		margin: 0 1em 0 0;
	}
	.fr{
		float: right;
		margin: 0 0 0 1em;
	}
}

figure{
	border:1px solid #ccc;
	background: #343b45;
	color: rgba(255,255,255,.9);
}

.inset{
	float:right;
	margin:0 0 0 1em;
	width:200px;
}


figcaption{
	text-align: center;
	font-size: 90%;
	}

.w200{
	width:200px;
}

.thumbs{
	display:grid;
	grid-gap: 1em;
}


.four{
	grid-template-columns: repeat(2,1fr);
}

@media screen and (min-width: 50rem){
	.four{
	grid-template-columns: repeat(4,1fr);
	}

}

.fixed img{
	height:200px;
	width:200px;
	object-fit:cover;
}

.top-left{object-position: 0 0;}
.top-right{object-position:100% 0;}
.bottom-left{object-position:0 100%;}
.bottom-right{object-position:100% 100%;}

img.top{
	object-position: top;
}
img.bottom{
	object-position: bottom;
}

img.left{
	object-position: left;
}

img.right{
	object-position: right;
}

/*Stop font sizes forever growing*/
@media screen and (min-width: 1280px){

	.title{
		font-size:70px;
	}

	.tagline{
		font-size:29px;
	}

	.mainnav a{
		font-size:20px;
	}

	.main{
		font-size:22.4px;
	}
}


/*=====TYPE=====*/
.lede{
	font-size: 115%;
}


/*=====Components=====*/
blockquote{
  border-left: 4px solid orange;
  margin-left: 0;
  padding-left: 1em;
}

blockquote cite{
	font-size: 90%;
	display: block;
	text-align: right;
}